<% if (message){ %>
    <form id="set-new-password">
        <h5>New Password: </h5><input id="pass_1" type="password">
        <h5>Confirm Password: </h5><input id="pass_2" type="password">
        <input type="submit" />
        <div id="warning">

        </div>
    </form>
    <% } %>

        <script>
            //The ejs page run at the server
            const form = document.getElementById("set-new-password");
            const warning = document.getElementById("warning");
            const urlParams = new URLSearchParams(window.location.search);
            const username = urlParams.get('username');


            form.addEventListener("submit", async (e) => {
                e.preventDefault();
                let pass_1 = document.getElementById("pass_1").value;
                let pass_2 = document.getElementById("pass_2").value;
                console.log(pass_1)
                if (pass_1 == "" && pass_2 == "") {
                    warning.innerHTML = "<h5>Please fill all the fields!</h5>"
                }
                else if (pass_1 !== pass_2) {
                    warning.innerHTML = "<h5>Two passwords are not identical!</h5>"
                }
                else if (pass_1 === pass_2) {
                    if (pass_1.length < 8) {
                        warning.innerHTML = "<h5>Please set a password with greater than 8 characters!</h5>"
                    }
                    else {
                        warning.innerHTML = "";
                        // here we have to use the fetch because by using script tag we are in the frontend side 
                        const postData = {
                            username,
                            password: pass_1
                        };

                        const options = {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json', // Tell the server we're sending JSON data
                                // You can add other headers here if required
                            },
                            body: JSON.stringify(postData) // Convert JavaScript object to JSON string
                        };

                        fetch('http://localhost:8000/user/changePassword', options).then (response => response.json()
                        ).then (result => {
                            warning.innerHTML = "Please wait ..."
                            setTimeout(()=>{
                                warning.innerHTML = result.message;  
                            },4000)
                        })



                    }

                }
            })
        </script>